<h1>Contact</h1>
<p>
	<ul>
		<li><a href="http://ashwinbalaguru.github.io"><strong>Github Page</strong></a><br></li>
		<li><a href="https://github.com/ashwinbalaguru"><strong>Github Profile</strong></a></li>
	</ul>
</p>